.rk-yt2c-ytvideo__container {
    width: 100%;
    padding-top: 56%;
    position: relative;
}
.rk-yt2c-ytvideo__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(127deg, rgba(224,224,232,1) 0%, rgba(238,238,247,1) 63%, rgba(217,217,228,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    justify-content: center;
    box-shadow: inset 0px 0px 15px rgba(150,150,150,0.4);
}
.rk-yt2c-ytvideo__disclaimer {
    font-size: 14px;
    overflow: auto;
    margin-top: 20px;
}
.rk-yt2c-ytvideo__play-icon {
    margin-right: 10px;
}
.rk-yt2c-ytvideo__video {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.rk-yt2c-ytvideo__remember-label,
.rk-yt2c-ytvideo__show-always-label {
    cursor: pointer;
}
.rk-yt2c-ytvideo__show-always-label {
    font-size: 0.875em;
}
.rk-yt2c-ytvideo__footer {
    display: none;
}
.rk-yt2c-ytvideo--enabled .rk-yt2c-ytvideo__placeholder {
    display: none;
}
.rk-yt2c-ytvideo--enabled .rk-yt2c-ytvideo__footer,
.rk-yt2c-ytvideo--enabled .rk-yt2c-ytvideo__video {
    display: block;
}
